
body {
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  	margin: 0;
  	padding: 0;
  	height: 100%;
  	/*background-color: #434343;*/
  	background-color: white;
  	background-image:linear-gradient(white, white);
  	font-family: 'Nunito', sans-serif;
}
#content{
	position: absolute;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, lightGrey 25%, lightGrey 26%, transparent 27%, transparent 74%, lightGrey 75%, lightGrey 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, lightGrey 25%, lightGrey 26%, transparent 27%, transparent 74%, lightGrey 75%, lightGrey 76%, transparent 77%, transparent);
  height: 100%;
  background-size: 50px 50px;
}

.content{
    background-image: linear-gradient(0deg, transparent 24%, #282828 25%, #282828 26%, transparent 27%, transparent 74%, #282828 75%, #282828 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, #282828 25%, #282828 26%, transparent 27%, transparent 74%, #282828 75%, #282828 76%, transparent 77%, transparent) !important;
  background-color:	#101010 !important;
}

#titl{
	position: absolute;
    top: 0;
    right: 0;
	width: 35%;
    box-sizing: border-box;
    font-size: calc(1.5vw + 1.5vh);
    text-align: center;
    padding: 20px;
    background-color: white;
    user-select: none;
    z-index: 1;
}
mark{cursor:pointer;}
mark:hover{
	color: red;
}

.darkMode{
	position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    font-size: calc(1.5vw + 1.5vh);
    line-height: 0.7;
    padding: 1px;
    text-align: center;
    color: black;
    cursor: pointer;
    opacity: 0;
}
.opaOne{opacity:1;}

#main{
	position: relative;
    width: 100%;
    height: 100%;
}
#pic{
	position: absolute;
    bottom: 0;
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 3px black;
    border-radius: 3px;
}
.note{
	position: absolute;
    height: 200px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
}

.note::before,
.note::after{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 1px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 15px black;
    z-index: -1;
}
.note::after{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}
.note:hover::after,
.note:hover::before{
	box-shadow: none;
}

.pin {
  background-color: #aaa;
  display: block;
  height: 15px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -8px;
  z-index: 1;
}
.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 3px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}
.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';

  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: -10px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

.topS{
	position: relative;
    margin: 0;
    top: 0;
	width: 100%;
    height: 25px;
    box-sizing: border-box;
    cursor: move;
    user-select: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    resize: none !important;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-align: center;
}
.xx{
	position: absolute;
    right: 0;
    top: 0;
	font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    color: grey;
    opacity: 0;
}
.xx:hover{
	cursor:pointer;
	color:white;
    opacity: 1;
}
.sel{
	z-index: 50 !important;
    opacity: 0.7 !important;
}
.res{resize:both;overflow:auto;}

textarea{
	position: absolute;
    display: block;
    top: 25px;
    left: 0;
    width: 100%;
    height: calc(100% - 25px);
    padding: 0;
    border: none;
    resize: none !important;
    outline: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.coverr{
	position: absolute;
    z-index: 1000000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(238, 174, 242, 0.7);
    display: none;
}

#config{
	position: relative;
    width: 50%;
    height: 95%;
    top: 2%;
    left: 25%;
    box-sizing: border-box;
    box-shadow: 0 0 15px black;
    text-align: center;
    padding: 3%;
    font-size: 15px;
    background-color: white;
    border-radius: 5px;
    overflow: auto;
}

.des{
	font-size: calc(1vw + 1vh);
    color: red;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#color-picker{
	width: auto;
}

.flexDivs{
	display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
}

.flexDivs input{
	width: 100px;
    font-size: 15px;
}

.flexDivs *{
	margin: 1%;
}

.tb{
	position: relative;
    padding: 5px;
}

.tb input,
.tb select{
    font-size: 15px;
}

.butto{
	position: relative;
    padding: 3px;
    box-shadow: 0 0 5px black;
    background-color: pink;
    color: white;
    font-size: 15px;
    width: 50%;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}

.preview{
	position: relative;
    height: auto;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 5px black;
    margin-top: 5px;
    background-image: linear-gradient(0deg, transparent 24%, lightGrey 25%, lightGrey 26%, transparent 27%, transparent 74%, lightGrey 75%, lightGrey 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, lightGrey 25%, lightGrey 26%, transparent 27%, transparent 74%, lightGrey 75%, lightGrey 76%, transparent 77%, transparent);
  background-size: 50px 50px;
  display: none;
}
.preNote{
	position: relative;
    height: 200px;
    width: 150px;
    box-shadow: 0 0 5px grey;
    margin: auto;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.butto:active{box-shadow: 0 0 5px black inset;}
.butto:hover{color: black;}
.darkBackground{background-color: #101010 !important; color:grey !important;}

.darkBoxShadow{box-shadow: 0 0 5px white !important;}